<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python/Django/Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='python.png') }}" type="image/png">
</head>
<body>
    <header>
        <h1>Python/Django/Flask Blog</h1>
    </header>
    <div class="container content-container" style="background-image: url('{{ url_for('static', filename='background.jpg') }}'); background-size: cover; background-position: center">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>Daniel Martin &copy; {{ current_year }}</p>
    </footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var year = new Date().getFullYear();
        document.querySelector('footer p').innerHTML += ' ' + year;
    });

    function deletePost(postId) {
        if (confirm('Are you sure you want to delete this post?')) {
            fetch(`/delete-post/${postId}`, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Failed to delete the post.');
                }
            });
        }
    }

    function updatePost(postId) {
        const postData = {
            title: prompt('Enter new title:'),
            content: prompt('Enter new content:'),
            author: prompt('Enter new author:')
        };
        fetch(`/update-post/${postId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(postData)
        }).then(response => {
            if (response.ok) {
                location.reload();
            } else {
                alert('Failed to update the post.');
            }
        });
    }
</script>
</body>
</html>