<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dan's Python Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .flash-success {
            color: green !important;
            background-color: lightgreen !important;
        }
        .flash-error {
            color: red;
        }
        .content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .form-container, .posts-container {
            width: 100%;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Python/Django/Flask Blog</h1>
    </header>
    <div class="container content-container">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>Daniel Martin &copy; {{ current_year }}</p>
    </footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var year = new Date().getFullYear();
    document.querySelector('footer p').innerHTML += ' ' + year;
    });
</script>
</body>
</html>