{% extends 'base.html' %}

{% block content %}
<h1>Dan's Python/Django/Flask Blog</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="form-container">
    <form action="{{ url_for('add_post') }}" method="POST">
        <input type="text" name="title" placeholder="Post Title" required minlength="5">
        <textarea name="content" placeholder="Post Content" required minlength="10" rows="5" style="resize: vertical;"></textarea>
        <input type="text" name="author" placeholder="Post Author" required minlength="2">
        <center><button type="submit">Add Post</button></center>
    </form>
</div>
<div class="posts-container">
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p><strong>Author:</strong> {{ post.author }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}